body {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(47, 23, 15, 0.65))), url(./images/Coffee.jpg) ;
    background-size: 75%;
    background-attachment: fixed;
    
}
/* .backShade {
    width: 100%;
    height: 100vh;
    color: rgba(210, 105 ,30, 0.386);
} */

.header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    /* align-content: space-between 5px; */

    color: rgba(230,167,86,.9);
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-weight: 800;
    padding: 120px;
   
    

}
/* .text1 {
    color: rgb(245, 179, 79);
} */
.text2 {
    margin-top: 8px;
}

/* .text3 {
    color: rgb(245, 179, 79);
} */ 

.largeText {
    color: white;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-size: 100px;
    top: 180px;
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(55, 27, 2, 0.94);
    top: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    color: white;
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
   
}


.home {
    color: rgba(230,167,86,.9)
}

.image {
    position: absolute;
    right: 150px;
    bottom: -400px;
    width: 800px;
    
}

.boxes {
    width: 575px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.845);
    position: absolute;
    left: 150px;
    bottom: -300px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    text-align: center;

}

.fresh {
    position: absolute;
    display: block;
    font-size: 1rem;
    font-weight: 1000;
    top: 3rem
}

.worth {
    position: absolute;
    display: block;
    font-size: 3rem;
    font-weight: 50;
    top: 4.5rem;
    width: 20rem;
    text-align: center;
}

p {
    position: absolute;
    display: block;
    font-size: 1.1rem;
    font-weight: 50;
    top: 11rem;
    width: 28rem;
    text-align: center;
    line-height: 1.75;
}
.visit {
    position: absolute;
    width: 10rem;
    height: 3rem;
    background: rgba(230,167,86,.9);
    bottom: -1.5rem;
    border-radius: 0.25rem;
}

h6 {
    position: absolute;
    color: white;
    width: 10rem;
    top: 1rem;
    
}

.container {
    position: absolute;
    background: rgba(230,167,86,.9);
    width: 100%;
    height: 30rem;
    bottom: -60rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center
}

.container2 {
    position: absolute;
    background: white;
    width: 60rem;
    height: 20rem;
    top: 5rem;
    border: double .85rem rgba(230,167,86,.9);
    border-radius: .75rem
}

.promise {
    color: rgb(33, 37, 41);
    font-family: 'Raleway';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    position: absolute;
    top: 2.5rem;
    width: 100%;
}

.you {
    color: rgb(33, 37, 41);
    font-family: 'Raleway', 'Body';
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5rem;
    position: absolute;
    top: 5rem;
    width: 100%;

}

.walk {
    width: 100%;
    
}

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(55, 27, 2, 0.94);
    bottom: -70rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.copy {
    position: absolute;
    width: 100%;
    color: white;

}